{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <img src="/static/images/picture2.png" alt="Car Rental Logo" style="max-width: 300px; max-height: 150px;">

        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url "dashboard" %}">Home</a>
            </li>
            <li {% if section == "user_rentals" %}class="selected"{% endif %}>
                <a href="{% url "user_rentals" %}">Moje rezerwacje</a>
            </li>
            <li {% if section == "car_list" %}class="selected"{% endif %}>
                <a href="{% url "car_list" %}">Samochody</a>
            </li>
            <li {% if section == "contact" %}class="selected"{% endif %}>
                <a href="{% url "contact" %}">Napisz do nas</a>
            </li>
        </ul>
        {% endif %}

    <span class="user">
        {% if request.user.is_authenticated %}
        Witaj, {{ request.user.username }}!
        <a href="{% url "logout" %}">Wyloguj</a>
        {% else %}
        <a href="{% url "login" %}">Zaloguj</a>
        {% endif %}
    </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
