{% extends "base.html" %}

{% block title %}Potwierdzono anulowanie rezerwacji{% endblock %}

{% block content %}
<div class="car-list">
    <div class="rental-details">
        <div class="car-info">
            <h1 class="car-list-header">Potwierdzono anulowanie rezerwacji.</h1>
            <p>Zapraszamy do skorzystania z naszej oferty!</p>
            <p>Zobacz więcej dostępnych pojazdów w <a href="{% url 'car_list' %}" class="custom-link">naszej ofercie</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
