{% extends "base.html" %}

{% block title %}Dostępne samochody{% endblock %}
{% block content %}
    <h1 class="car-list-header">Dostępne samochody</h1>
    <div class="car-list">
        {% for car in cars %}
            <div class="car-list-item">
                <div class="car-image">
                    <a href="{% url 'car_detail' car.id %}">
                        {% if car.image %}
                            <img src="{{ car.image.url }}" alt="{{ car.brand }} {{ car.model }}">
                        {% else %}
                            <p>No Image Available</p>
                        {% endif %}
                    </a>
                </div>
                <div class="car-info">
                    <h2>{{ car.brand }} {{ car.model }}</h2>
                    <p class="car-year"><strong>Rok:</strong> {{ car.year }}</p>
                    <p class="car-price"><strong>Cena:</strong> PLN {{ car.price }}</p>
                    <form action="{% url 'rent_car' car.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="ZAREZERWUJ" class="car-reservation-btn">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

