{% extends "base.html" %}

{% block title %}Dostępne samochody{% endblock %}

{% block content %}
    <h1>Dostępne samochody</h1>
    <div class="car-tiles">
        {% for car in cars %}
            <div class="car-tile">
                <div class="car-image">
                    <a href="{% url 'car_detail' car.id %}">
                    {% if car.image %}
                        <img src="{{ car.image.url }}" alt="{{ car.brand }} {{ car.model }}">
                    {% else %}
                        <p>No Image Available</p>
                    {% endif %}
                </div>
                <div class="car-details">
                    <strong>{{ car.brand }} {{ car.model }}</strong> (Year: {{ car.year }})
                    <p>Cena: PLN {{ car.price }}</p>
                    <p><a href="{% url 'rent_car' car.id %}">Zarezerwuj!</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
