{% extends 'base.html' %}

{% block title %}Wypożycz{{ car.brand }} {{ car.model }}{% endblock %}

{%block content %}
    <h1>Zarezerwuj {{ car.brand }} {{ car.model }}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="start_date">Od:</label>
        <input type="date" name="start_date" required><br>
        <label for="end_date">Do:</label>
        <input type="date" name="end_date" required><br>
        <input type="submit" value="Zatwierdź">
    </form>
{% endblock %}