{% extends "base.html" %}

{% block title %}Moje rezerwacje {{ user.username }}{% endblock %}

{% block content %}
    <h1 class="user-reservations-header">Moje rezerwacje</h1>
    <ul class="user-reservations-list">
        {% for rental in rentals %}
            <li class="user-reservation-item">
                <div class="user-car-details">
                    <img src="{{ rental.car.image.url }}" alt="{{ rental.car.brand }} {{ rental.car.model }}">
                    <div class="user-car-info">
                        <h2>{{ rental.car.brand }} {{ rental.car.model }}</h2>
                        <p>Data rozpoczęcia: {{ rental.start_date }}</p>
                        <p>Data zakończenia: {{ rental.end_date }}</p>
                        <p class="user-price">Cena: PLN {{ rental.calculate_rental_price }}</p>
                        <form action="{% url 'cancel_rental' rental.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Anuluj rezerwację" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
