{% extends "base.html" %}

{%block title%}Rezerwacje {{user.username }}{%endblock%}

{%block content%}
<h1>Twoje rezerwacje</h1>
    <ul>
        {% for rental in rentals %}
            <li>
                <strong>{{ rental.car.brand }} {{ rental.car.model }}</strong>
                <p>Data rozpoczęcia: {{ rental.start_date }}</p>
                <p>Data zakończenia: {{ rental.end_date }}</p>
                <p>Cena: PLN {{ rental.price }}</p>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
