{% extends 'base.html' %}

{% block title %}Utwórz konto{% endblock %}

{% block content %}
    <h1 class="registration-header">Utwórz konto</h1>
    <p class="registration-info">Wypełnij poniższy formularz, aby się zarejestrować:</p>
    <div class="registration-form">
        <form action="." method="post">
            {{ user_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Utwórz konto" class="registration-submit-btn"></p>
        </form>
    </div>
{% endblock %}
