{% extends "base.html" %}

{% block title %}Hasło zostało zmienione!{% endblock %}

{% block content %}
<div class="change-password-container">
    <img src="{% static '/Users/szymonradosz/PycharmProjects/carrental/carrental/Rental/static/images/382569-PC3I7I-383.jpg' %}" alt="Success" class="success-image">
    <h1 class="change-password-heading">Hasło zostało zmienione</h1>
    <p class="change-password-text">Zmiana hasła zakończyła się powodzeniem.</p>
</div>
{% endblock %}

{% block css %}
<style>
    /* Styling for the change password page */
    .change-password-container {
        text-align: center;
        padding: 50px;
    }

    .success-image {
        max-width: 150px;
        margin-bottom: 20px;
    }

    .change-password-heading {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .change-password-text {
        font-size: 18px;
        color: #666;
    }
</style>
{% endblock %}
