@import url(//fonts.googleapis.com/css?family=Muli);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nothing+You+Could+Do&family=Qwitcher+Grypen:wght@700&display=swap');

/* Resetowanie marginesów i paddingu dla całego dokumentu */
body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

/* Ujednolicenie odstępów w tekście */
p {
    line-height: 1.6;
}

/* Linki */
a {
    color: #0077be;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #00a1e4;
}

/* Tytuły */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    border-bottom: 2px solid #0077be;
    padding: 0 0 10px 0;
    margin: 20px 0;
    font-size: 28px;
}

h2 {
    margin: 20px 0;
    font-size: 24px;
}

/* Nagłówek strony */
#header {
    padding: 10px;
    font-size: 14px;
    background: #0077be;
    color: #fff;
    border-bottom: 4px solid #00a1e4;
    overflow: auto;
}

#header .logo {
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 76px;
    margin-right: 5%;
}

#header ul.menu {
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#header ul.menu li {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 0;
}

#header ul.menu li.selected a,
#header ul.menu li.selected a:hover {
    color: #00a1e4;
    font-weight: bold;
}

#header a {
    color: #fff;
}

#header a:hover {
    color: #00a1e4;
}

#header .user {
    float:right; 
	padding-top :4px; 
}

/* Treść strony */
#content {
	padding :30px; 
}

/* Formularze */
form { 
	overflow :auto; 
}
form p { 
	overflow :auto; 
}
label { 
	color :#333; 
	margin-bottom :4px; 
	display :block; 
}
input,
textarea { 
	margin :0 0 10px; 
	background :#efefef; 
	border :0; 
	padding :6px 10px; 
	font-size :14px; 
	width :100%; 
	box-sizing :border-box; 
}
input[type=submit],
a.button { 
	font-weight :bold; 
	background :#0077be; 
	color :#fff; 
	padding :10px 20px; 
	font-size :14px; 
	text-transform :uppercase; 
	border :none; 
	cursor :pointer; 
}
.errorlist { 
	color :#0077be; 
	padding-left :10px; 
}
.helptext { 
	color :#aaa; 
	font-size :13px; 
	margin :5px 0; 
}

/* Komunikaty */
ul.messages { margin :10px;padding :0;list-style-type:none;}
ul.messages li { padding :14px 20px;margin :10px 0;color:#fff;border-radius :4px;}
ul.messages li.success { background:#0077be;}
ul.messages li.success a { color:#00a1e4;}
ul.messages li.error { background:#0077be;}
ul.messages li.error a { color:#00a1e4;}
ul.messages li.info { background:#0077be;}
ul.messages li.info a { color:#00a1e4;}
ul.messages li.warning { background:#0077be;}
ul.messages li.warning a { color:#00a1e4;}
ul.messages li a.close{float:right ;opacity:.3;border:none ;box-shadow:none}


/* Styl dla kafelków samochodów */
.car-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Zaczynamy od lewej strony */
    gap: 20px;
    margin-top: 30px;
}

.car-tile {
    position: relative;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background-color: #fff;
    flex-basis: calc(33.33% - 20px); /* Trzeci kafelek na jednym rzędzie */
    margin-bottom: 120px; /* Dodano margines na dole kafelka */
}

.car-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-image {
    position: relative;
    overflow: hidden;
    height: 180px;
    text-align: center;
}

.car-image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.car-tile:hover .car-image img {
    transform: scale(1.05);
}

.car-details {
    padding: 10px;
    background-color: rgba(248, 248, 248, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.car-tile:hover .car-details {
    transform: translateY(0);
}

.car-details h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 5px 0;
}

.car-details p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.car-reservation a {
    color: #e74c3c;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.car-reservation a:hover {
    color: #c0392b; /* Zmiana koloru po najechaniu */

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#bebcbc;
}