@import url(//fonts.googleapis.com/css?family=Muli);

/* Resetowanie marginesów i paddingu dla całego dokumentu */
body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
}

/* Ujednolicenie odstępów w tekście */
p {
    line-height: 1.6;
}

/* Linki */
a {
    color: #12c064;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #00a74f;
}

/* Tytuły */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    border-bottom: 2px solid #12c064;
    padding: 0 0 10px 0;
    margin: 20px 0;
    font-size: 28px;
}

h2 {
    margin: 20px 0;
    font-size: 24px;
}

/* Nagłówek strony */
#header {
    padding: 10px;
    font-size: 14px;
    background: #12c064;
    color: #fff;
    border-bottom: 4px solid #1cdf78;
    overflow: auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    color: #f3f7cc;
    font-size: 24px;
    margin-right: 5%;
}

#header ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header ul.menu li {
    display: inline-block;
    margin: 0 10px;
    padding: 4px 0;
}

#header ul.menu li.selected a,
#header ul.menu li.selected a:hover {
    color: #1b6d32;
    font-weight: bold;
}

#header a {
    color: #f3f7cc;
}

#header a:hover {
    color: #fff;
}

#header .user {
    float: right;
    padding-top: 4px;
}

/* Treść strony */
#content {
    padding: 30px;
}

/* Formularze */
form {
    overflow: auto;
}

form p {
    overflow: auto;
}

label {
    color: #333;
    margin-bottom: 4px;
    display: block;
}

input,
textarea {
    margin: 0 0 10px;
    background: #efefef;
    border: 0;
    padding: 6px 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

input[type=submit],
a.button {
    font-weight: bold;
    background: #12c064;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.errorlist {
    color: #cc0033;
    padding-left: 10px;
}

.helptext {
    color: #aaa;
    font-size: 13px;
    margin: 5px 0;
}

/* Komunikaty */
ul.messages {
    margin: 10px;
    padding: 0;
    list-style-type: none;
}

ul.messages li {
    padding: 14px 20px;
    margin: 10px 0;
    color: #fff;
    border-radius: 4px;
}

ul.messages li.success {
    background: #81ce81;
}

ul.messages li.success a {
    color: #0ac33e;
}

ul.messages li.error {
    background: #a30029;
}

ul.messages li.error a {
    color: #e9828e;
}

ul.messages li.info {
    background: #faffae;
}

ul.messages li.info a {
    color: #1586de;
}

ul.messages li.warning {
    background: #de9404;
}

ul.messages li.warning a {
    color: #f49000;
}

ul.messages li a.close {
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none
